############################################
# compiled python files
############################################
*.pyc

############################################
# Database
############################################
db.sqlite3

############################################
# Pycharm
############################################
.idea

############################################
# Virtual environments
############################################
venv/*
